.web-nav-layout {
  .header-content {
    .nav-item {
      p {
        margin-bottom: 0;
        font-weight: bold;
        font-size: 14px;
        &:hover {
          transform: scaleX(1);
          transition-timing-function: cubic-bezier(0.18, 1.14, 0.96, 0.2);
          transition-duration: 0.3s;
          color: cornflowerblue;
          border-bottom: 0.3rem solid rgb(23, 162, 184);
        }
        &:active {
          color: blue;
        }
      }
      .bottom-line {
        color: cornflowerblue;
        border-bottom: 0.3rem solid rgb(23, 162, 184);
      }
    }
  }
  .header-options {
    li {
      list-style: none;
      margin-right: 1em;
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      cursor: pointer;
      &:hover {
        border-bottom: 1px solid rgba(41, 41, 41, 0.99);
        color: gray;
      }
    }
  }
  .sympathy-tab {
    overflow: hidden;
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    min-height: 10rem;
    max-height: inherit;
    padding-bottom: 1rem;
    opacity: 1;
    z-index: 1000;
    box-shadow: 0px 9px 12px -6px rgb(108, 117, 125);
    ul {
      li {
        list-style: none;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        padding-bottom: 1rem;
        cursor: pointer;
        &:hover {
          color: rgba(72, 56, 181, 0.79);
        }
      }
    }
  }
  .flower-tab {
    overflow: hidden;
    transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
    min-height: 10rem;
    max-height: inherit;
    opacity: 1;
    box-shadow: 0px 9px 12px -6px rgb(108, 117, 125);
    z-index: 1000;
    ul {
      margin-right: 3rem;
      li {
        list-style: none;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        padding-bottom: 1rem;
        cursor: pointer;
        &:hover {
          color: rgba(72, 56, 181, 0.79);
        }
      }
    }
  }
  .birthday-tab {
    overflow: hidden;
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    min-height: 10rem;
    max-height: inherit;
    opacity: 1;
    box-shadow: 0px 9px 12px -6px rgb(108, 117, 125);
    z-index: 1000;
    ul {
      li {
        list-style: none;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        padding-bottom: 1rem;
        cursor: pointer;
        &:hover {
          color: rgba(72, 56, 181, 0.79);
        }
      }
    }
  }
  .occasion-tab {
    overflow: hidden;
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    min-height: 10rem;
    max-height: inherit;
    opacity: 1;
    z-index: 1000;
    ul {
      padding-right: 4rem;
      li {
        list-style: none;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        padding-bottom: 1rem;
        cursor: pointer;
        &:hover {
          color: rgba(72, 56, 181, 0.79);
        }
      }
    }
  }
  .plants-gifts-tab {
    overflow: hidden;
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    min-height: 10rem;
    max-height: inherit;
    opacity: 1;
    box-shadow: 0px 9px 12px -6px rgb(108, 117, 125);
    z-index: 1000;
    ul {
      padding-right: 4rem;
      li {
        list-style: none;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        padding-bottom: 1rem;
        cursor: pointer;
        &:hover {
          color: rgba(72, 56, 181, 0.79);
        }
      }
    }
  }
  .help-tab {
    overflow: hidden;
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    min-height: 10rem;
    max-height: inherit;
    opacity: 1;
    z-index: 1000;
    box-shadow: 0px 9px 12px -6px rgb(108, 117, 125);
    .contact-container {
      li {
        list-style: none;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        padding-bottom: 1rem;
        i {
          padding-right: 0.5rem;
        }
      }
    }
    ul {
      padding-right: 3rem;
      .menu-option {
        cursor: pointer;
        &:hover {
          color: rgba(72, 56, 181, 0.79);
        }
      }
    }
  }
  .purchase-navbar {
    .purchase-tab {
      .nav-item {
        p {
          margin-bottom: 0;
          font-weight: bold;
          font-size: 14px;
        }
        .bottom-line {
          color: cornflowerblue;
          border-bottom: 0.3rem solid rgb(23, 162, 184);
        }
      }
    }
  }
}
